form{
    width: 550px;
    height: 550px;
    padding: 0px 15px 15px 120px;
    background: white;
    border: 0.5px solid silver;
}
form fieldset{
    border: 0;
    align: center;
}
form fieldset legend{
    font-family: 微软雅黑 ;
    font-size: 14pt;
    color: red;
}
/*提示标签样式*/
.tooltips-label{
    display: inline-block;
    width: 200px;
    text-align: left;
    margin-left: 10px;
    font-family: 微软雅黑 ;
    font-size: 14pt;
    color: red;
}
/*输入框样式*/
input{
    width: 240px;
    height: 30px;
    font-family: 微软雅黑 ;
    font-size: 12pt;
}
/*注册返回错误结果标签样式*/
.error-label{
    width: 300px;
    height: 35px;
    font-size: 14pt;
    color: red;
    text-align: center;
    /*margin-left: 20px;*/
}
/*注册按钮*/
.btnSubmit{
    width: 150px;
    height: 35px;
    position: relative;
    /*left: 70px;*/
    margin-top: 25px;
}
/*悬停在注册按钮上*/
.btnSubmit:hover{
    cursor: pointer;
    background: lightgreen;
}
.btnReset{
    width: 150px;
    height: 35px;
    position: relative;
    margin-left: 20px;
    margin-top: 25px;
}
.btnReset:hover{
    cursor: pointer;
    background:lightgreen;
}

body{
    width:100%;
    height:100%;
    background: url("../images/new/back_login.jpg") repeat;/*设置背景图及是否重复显示*/
}
.main{
    position: fixed;
    left: 0px;
    right: 0px;
    width: 706px;
    top: 100px;
    margin-left: auto;
    margin-right: auto;
}