.tab1 { margin-top:5px;}
.tab1 td{ padding:5px 0;}
.tab1 select { width:120px;}
.allInput { width:120px; height:23px; line-height:23px; border:1px solid #c3ced0;}
.w323 { width:323px;}
.w110 { width:120px;}
.radioIn { position:relative; top:2px; margin-left:20px; cursor:pointer;}
.tab1 .date, .fabuzixun .date { position:relative; cursor:pointer; top:6px; *top:0; display:inline-block; width:20px; height:20px; margin:0 5px; background:url(../images/icon.png) no-repeat 0 -381px;}
.tabSub { cursor:pointer; width:63px; height:27px; background:url(../images/btn03.gif) no-repeat; color:#333;}
.tabSub:hover {color:#5d7731; background:url(../images/btn02.gif) no-repeat;}
.zixun .title2 { height:31px; line-height:31px; padding-left:25px; background:url(../images/icon.png) repeat-x 0 -405px; border-bottom:1px solid #aec7e5;}
.tab2 th { font-weight:normal; height:29px; line-height:29px; background:#e5f0ff; border-top:1px solid #fff; border-bottom:1px solid #ddd;}
.tab2 td{ text-align:center; padding:5px 0; border-bottom:1px solid #ddd;}
.tab2 .action td { background:#f5f5f5; text-align:left;}
.tab2 .btn03, .fabuzixun .btn03, .tab3 .btn03, .y_btn .btn03, .bbtn03 { display:inline-block; width:63px; height:27px; margin-left:10px; text-align:center; line-height:27px; background:url(../images/btn03.gif) no-repeat; color:#333;}
.tji .tabSub { float:left;}
.bbtn03 { float:left; display:inline;}
.tab2 .btn03:hover, .fabuzixun .btn03:hover, .tab3 .btn03:hover, .y_btn .btn03:hover, .bbtn03:hover {color:#5d7731; background:url(../images/btn02.gif) no-repeat; text-decoration:none;}
.tab2 .tijiao, .tab2 select { float:right; display:inline; margin-right:10px;}
.tab2 select  { margin-top:3px;}