body{
    border:0;
    padding:0;
    margin:0;
}

.content {
    position: relative;
    min-height: 800px;
    background: #fff;
    margin-left: 240px;
    border-left: 1px solid #cccccc;
    padding: 15px 15px 0px 15px;
}

.breadcrumb {
    padding: 0;
    margin: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    background: #fff;
    margin-bottom: .5em;
    margin-bottom: 0em;
    padding-left: 0em;
    padding-right: 0em;
    font-size: .75em;
}

.header {
    background: #fff;
    border-bottom: 1px solid #cccccc;
    border-bottom: 1px solid #eee;
    border-left: 1px solid #ffffff;
    padding: .5em 0em 1em 0em;
    margin: 0px 0em 2em 0em;
}